:root{
  --primary-color : #0D002D;
  --secodry-color : #2B00A0;
}


.App {
  text-align: center;
  background: var(--primary-colors);
  display: flex;
  flex-direction: column;
  align-items: center;
 margin-top: 25px;

}
